@charset "UTF-8";
.btn-primary {
  padding: 8px 16px;
  gap: 0px;
  border-radius: 16px;
  opacity: 0px;
  background: #6C5CE7;
  color: white;
  border: none;
  font-family: Inter;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: center;
}

.btn-secondary {
  padding: 8px 16px;
  gap: 0px;
  border-radius: 16px;
  opacity: 0px;
  color: #6C5CE7;
  background: white;
  border: none;
  font-family: Inter;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: center;
  border: 1px solid #ADADAD;
}

.navbar {
  box-shadow: 0px 4px 8px 0px rgba(38, 50, 56, 0.0784313725);
  box-shadow: 0px 2px 4px 0px rgba(38, 50, 56, 0.1607843137);
}
.navbar .navbar-logo {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1px;
  text-align: left;
  text-decoration: none;
  color: #2D3436;
  padding-right: 30px;
  gap: 2px;
}
.navbar .navbar-logo img {
  color: #6C5CE7;
  width: 70px;
  height: 64px;
}
.navbar .navbar-nav {
  align-items: center;
}
.navbar .navbar-nav:first-child {
  margin-left: 36px;
}
.navbar .navbar-nav:last-child {
  margin-right: 36px;
}
.navbar .navbar-nav .nav-link {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #6C5CE7;
}
.navbar .navbar-nav .nav-link.active {
  font-weight: 700;
  color: #2D3436;
}
.navbar .navbar-nav .nav-link:hover {
  color: #2D3436;
}
.navbar .navbar-nav hr {
  opacity: 1;
  border-top: none;
  margin: 0;
}
.navbar .navbar-nav hr::after {
  width: 9px;
  color: #FDCB6E;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: center;
  content: "•";
}

main .combine {
  font-family: Inter;
  font-size: 96px;
  font-weight: 800;
  line-height: 104px;
  letter-spacing: -3px;
  text-align: center;
  color: #2D3436;
  text-shadow: white 0px 4px;
  z-index: 1;
}
main .combine span {
  position: relative;
  color: #D63031;
  z-index: 1;
}
main .combine span::before {
  content: "";
  position: absolute;
  width: 191px;
  height: 51px;
  background-color: #55EFC4;
  border-radius: 90px;
  left: -14px;
  bottom: -2px;
  z-index: -1;
}
main .to-represent {
  font-family: Inter;
  font-size: 64px;
  font-weight: 900;
  line-height: 77.45px;
  letter-spacing: -1px;
  text-align: center;
  color: #2D3436;
}
main .bg-rectangle {
  background: url("rectangle.svg"), url("dots.svg");
  background-position: right top;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 270px);
  grid-auto-rows: min-content;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  width: 100%;
  margin: 64px 5% 0 5%;
}

.grid-item {
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}

.text {
  grid-column: 1/span 1;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.image-placeholder {
  grid-column: 1/span 1;
  height: 464px;
  background: url("aimed-image.png") no-repeat;
  background-size: cover;
}

.button {
  grid-column: 1/span 1;
}

.image-large {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
  background: url("it-is-done.png") no-repeat;
  background-size: 100% 100%;
}

.image-change {
  grid-column: 2/span 1;
  grid-row: 3/span 7;
  background: url("change-by-design.png") no-repeat;
  background-size: cover;
}

.image-goal {
  grid-column: 3/span 2;
  grid-row: 3/span 8;
  background: url("see-my-goal.png") no-repeat;
  background-size: cover;
}

.text-multipurpose {
  grid-row: 1/span 1;
  grid-column: 4/span 2;
  font-family: "Inter";
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  display: flex;
  align-items: flex-end;
}
.text-multipurpose p {
  margin: 0;
}

.image-A {
  grid-column: 4/span 1;
  grid-row: 2/span 1;
  background: url("letter-a.png") no-repeat;
  background-size: 100% 100%;
}

.image-nike {
  grid-column: 5/span 1;
  grid-row: 2/span 1;
  background: url("nike.png") no-repeat;
  background-size: 100% 100%;
}

.image-windows {
  grid-column: 5/span 1;
  grid-row: 3/span 4;
  background: url("windows.png") no-repeat;
  background-size: cover;
}

.deliverring-container {
  margin: 64px 5% 0 5%;
}
.deliverring-container h2 {
  font-family: Inter;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
}
.deliverring-container p.deliverring-subtitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: left;
  max-width: 900px;
}
.deliverring-container .features-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 40px 0 20px 0;
}
.deliverring-container .features-container .feature-item {
  width: 270px;
  height: 330px;
}
.deliverring-container .features-container .feature-item .img-container {
  width: 70px;
  height: 70px;
  background-color: #E84393;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deliverring-container .features-container .feature-item .img-container img {
  width: 56px;
  height: 56px;
}
.deliverring-container .features-container .feature-item h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.25px;
  text-align: left;
  margin: 24px 0;
}
.deliverring-container .features-container .feature-item p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.deliverring-container .features-container .feature-item.sales-growth .img-container {
  background-color: #0984E3;
}
.deliverring-container .features-container .feature-item.coponents-driven .img-container {
  background-color: #6C5CE7;
}
.deliverring-container .features-container .feature-item.swap-the-icon .img-container {
  background-color: #00B894;
}

/*# sourceMappingURL=style.css.map */
