.btn-primary {
    padding: 8px 16px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    background: #6C5CE7;
    color: white;
    border: none;
    //styleName: 18 sp • Paragraph Bold;
    font-family: Inter;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
}

.btn-secondary {
    padding: 8px 16px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    color: #6C5CE7;
    background: white;
    border: none;
    //styleName: 18 sp • Paragraph Bold;
    font-family: Inter;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    border: 1px solid #ADADAD
}

.navbar {
    box-shadow: 0px 4px 8px 0px #26323814;
    box-shadow: 0px 2px 4px 0px #26323829;

    .navbar-logo {
        display: flex;
        align-items: center;
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -1px;
        text-align: left;
        text-decoration: none;
        color: #2D3436;
        padding-right: 30px;
        gap: 2px;

        img {
            color: #6C5CE7;
            width: 70px;
            height: 64px;
        }
    }

    .navbar-nav {
        align-items: center;

        &:first-child {
            margin-left: 36px;
        }

        &:last-child {
            margin-right: 36px;
        }

        .nav-link {
            //styleName: 18 sp • Paragraph Default;
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            text-align: center;
            color: #6C5CE7;

            &.active {
                //styleName: 18 sp • Paragraph Bold;
                font-weight: 700;
                color: #2D3436;
            }

            &:hover {
                color: #2D3436;
            }

        }


        hr {
            opacity: 1;
            border-top: none;
            margin: 0;

            &::after {
                width: 9px;
                color: #FDCB6E;
                font-family: Inter;
                font-size: 18px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0.2px;
                text-align: center;
                content: '•';
            }
        }

    }

}

main {
    .combine {
        font-family: Inter;
        font-size: 96px;
        font-weight: 800;
        line-height: 104px;
        letter-spacing: -3px;
        text-align: center;
        color: #2D3436;
        text-shadow: white 0px 4px;
        z-index: 1;

        span {
            position: relative;
            color: #D63031;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                width: 191px;
                height: 51px;
                background-color: #55EFC4;
                border-radius: 90px;
                left: -14px;
                bottom: -2px;
                z-index: -1;
            }
        }
    }

    .to-represent {
        //styleName: 64 sp • H2 Heading;
        font-family: Inter;
        font-size: 64px;
        font-weight: 900;
        line-height: 77.45px;
        letter-spacing: -1px;
        text-align: center;
        color: #2D3436;
    }

    .bg-rectangle {
        background: url("rectangle.svg"), url("dots.svg");
        background-position: right top;
        background-repeat: no-repeat;
    }
}

// Grid variables
$grid-column-width: 270px;
$font-family-default: 'Inter';
$font-size-default: 18px;
$line-height-default: 32px;
$border-radius-default: 30px;
$padding-default: 10px;

// Grid Container
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, $grid-column-width);
    grid-auto-rows: min-content;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    width: 100%;
    margin: 64px 5% 0 5%;
}

// Each grid item style
.grid-item {
    border-radius: $border-radius-default;
    padding: $padding-default;
    text-align: center;
}

// First cell text style
.text {
    grid-column: 1 / span 1;
    font-family: $font-family-default;
    font-size: $font-size-default;
    font-weight: 400;
    line-height: $line-height-default;
    text-align: left;
}

// Placebolder image
.image-placeholder {
    grid-column: 1 / span 1;
    height: 464px;
    background: url("aimed-image.png") no-repeat;
    background-size: cover;
}

// Button
.button {
    grid-column: 1 / span 1;
}

// Large image
.image-large {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    background: url("it-is-done.png") no-repeat;
    background-size: 100% 100%;
}

// Image "Change"
.image-change {
    grid-column: 2 / span 1;
    grid-row: 3 / span 7;
    background: url("change-by-design.png") no-repeat;
    background-size: cover;
}

// Image "Goal"
.image-goal {
    grid-column: 3 / span 2;
    grid-row: 3 / span 8;
    background: url("see-my-goal.png") no-repeat;
    background-size: cover;
}

// Text multipurpose
.text-multipurpose {
    grid-row: 1 / span 1;
    grid-column: 4 / span 2;
    font-family: $font-family-default;
    font-size: $font-size-default;
    line-height: $line-height-default;
    text-align: left;
    display: flex;
    align-items: flex-end;

    p {
        margin: 0;
    }
}

// Image "A"
.image-A {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    background: url("letter-a.png") no-repeat;
    background-size: 100% 100%;
}

// Image "Nike"
.image-nike {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    background: url("nike.png") no-repeat;
    background-size: 100% 100%;
}

// Image "Windows"
.image-windows {
    grid-column: 5 / span 1;
    grid-row: 3 / span 4;
    background: url("windows.png") no-repeat;
    background-size: cover;
}

.deliverring-container {
    margin: 64px 5% 0 5%;

    h2 {
        //styleName: 32 sp • H4 Heading;
        font-family: Inter;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -0.5px;
        text-align: left;
    }

    p.deliverring-subtitle {
        //styleName: 24 sp • Paragraph Big;
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.25px;
        text-align: left;
        max-width: 900px;
    }

    .features-container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin: 40px 0 20px 0;

        .feature-item {
            width: 270px;
            height: 330px;

            .img-container {
                width: 70px;
                height: 70px;
                background-color: #E84393;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 56px;
                    height: 56px;
                }
            }

            h3 {
                //styleName: 24 sp • Paragraph Bold;
                font-family: Inter;
                font-size: 24px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0.25px;
                text-align: left;
                margin: 24px 0;
            }

            p {
                //styleName: 18 sp • Paragraph Default;
                font-family: Inter;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                text-align: left;
            }

            &.sales-growth {
                .img-container {
                    background-color: #0984E3;
                }
            }

            &.coponents-driven {
                .img-container {
                    background-color: #6C5CE7;
                }
            }

            &.swap-the-icon {
                .img-container {
                    background-color: #00B894;
                }
            }
        }
    }
}